h1 {
    font-family: 'Kalam', cursive;
    font-size: 3em;
}

body {
    margin: 0;
    background: #a3d6e5;

}

hr {
    border: dotted black 6px;
    width: 4%;
}

.top-container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.monitor-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.avatar-img {
    margin-right: 30px;
}


.description {
    font-family: 'Kalam', cursive;    
}

.middle-container {
    text-align: center;
}
